body {
  margin: 0px;
  padding: 0px;
}

.page-content {
  height: 100%;
  background: white;
  margin: 8px;
}

.k-form {
  padding-bottom: 20px;
}

.k-loading-mask {
  height: 100%;
}

.device-detail-card {
  width: 33%;
}

.device-detail-h1 {
  padding: 0px;
  margin: 0px;
}

.k-card-deck {
  padding-bottom: 20px;
}

.device-detail-subtitle {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 0px;
}
